<div class="col-11 my-5 mx-5 align-center">
    <div class="alert alert-success" role="alert" *ngIf="successFlag">
        A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>
      <!-- <div class="alert alert-danger" role="alert" *ngIf="!successFlag && billReactiveForm.getError()">
        A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div> -->
    <!-- !form begin -->
    <form [formGroup]="billReactiveForm" (ngSubmit)="onBillSubmit()">
        <!------------ personal-details -------------------->
        <div formGroupName="personalDetails">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Customer Name</span>
                </div>
                <input type="text" aria-label="CustName" class="form-control" formControlName='customerName'>
                <div class="input-group-prepend">
                    <span class="input-group-text">#BillNo</span>
                </div>
                <input type="text" aria-label="billNo" class="form-control" formControlName='billNo'>
                <div class="input-group-prepend">
                    <span class="input-group-text">Date</span>
                </div>
                <input type="date" aria-label="date" class="form-control" formControlName='date'>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Addresss</span>
                </div>
                <textarea class="form-control" aria-label="Addresss" formControlName='address'></textarea>
            </div>
        </div>
        <!------------------ end personal details ---------------->

        <div class="dropdown-divider"></div>

        <!------------------ add item button ---------------------->
        <!-- <div class="text-center">
                    <button type="button" #addItemBtn class="btn btn-primary">Add Item</button>
                </div> -->
        <!-- end add itme button -->

        <!--add item details  -->
        <div formGroupName="addItemDetails">
            <div class="input-group my-2" #addItemDetails>
                <div class="input-group-prepend">
                    <span class="input-group-text">Item-Details</span>
                </div>
                <!-- <input type="text" aria-label="item name" class="form-control" placeholder="ItemName"
                    > -->
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" formControlName='itemName' >
                        <option selected>SELECT DISH</option>
                        <ng-container *ngFor="let dish of dishes">
                            <option>{{dish}}</option>
                        </ng-container>
                    </select>
                </div>
                <input type="number" aria-label="Quantity" class="form-control" placeholder="Quantity"
                    formControlName='quantity'>
                <input type="number" aria-label="price" class="form-control" placeholder="price"
                    formControlName='price'>
                <div class="input-group-append">
                    <!-- <button class="btn btn-outline-primary" (click)="addItem()"><i class="fa fa-plus-square"
                            aria-hidden="true"></i></button> -->
                    <input type="button" value="Add Item" (click)="addItem()" class="btn btn-outline-primary" [disabled]="!billReactiveForm.get('addItemDetails').valid">
                </div>
            </div>
        </div>
        <!-- end add item details -->
        <br>
        <!-- table start -->
        <div>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Particulars</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <th colspan="4" class="text-right text-danger">Grand Total</th>
                    <th colspan="2" class="text-danger"><i class="fas fa-rupee-sign"></i>{{this.bill.grandTotal}}</th>
                </tfoot>
                <tbody>
                    <!-- <ng-container *ngIf='addItems.length>0'> -->
                    <tr *ngFor="let additem of addItems;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{additem.itemName}}</td>
                        <td>{{additem.quantity}}</td>
                        <td>{{additem.price}}</td>
                        <td><b>{{additem.quantity*additem.price}}</b></td>
                        <td class="text-center"><i class="fa fa-minus-square fa-2x mx-2 btn btn-outline-danger" aria-hidden="true"
                                (click)="removeItem(i)"></i></td>
                    </tr>
                    <!-- </ng-container> -->
                </tbody>
            </table>
            <!-- table end -->
            <div class="text-center">
                <input type="submit" value="Submit Bill" class="btn btn-primary" [disabled]="!billReactiveForm.get('personalDetails').valid">
            </div>
        </div>
    </form>
    <!--! form end -->
</div>