
    <div class="container text-center">
      <h1 class="display-1">ALL BIILING RECORDS</h1>
      <p class="lead">This is a all billing records.</p>
    </div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date <i class="fas fa-calendar-alt fa-2x"></i> </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name <i class="fas fa-user-tie fa-2x    "></i> </th>
        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="grandTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Grand Total <i class="fas fa-database fa-2x "></i></th>
        <td mat-cell *matCellDef="let element"> <i class="fas fa-rupee-sign"></i>{{element.grandTotal+ element.grandTotal*18/100}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[8, 15,20,50,100]" showFirstLastButtons></mat-paginator>
 <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->